{erl_opts, [
    debug_info,
    nowarn_unused_function, nowarn_unused_vars,
    {parse_transform, lager_transform}
]}.
{deps, [
    {cowboy,{git,"https://github.com/ninenines/cowboy.git",{tag,"2.14.2"}}},
    {lager,{git,"https://github.com/erlang-lager/lager.git",{tag,"3.9.1"}}},
    {gproc,{git,"https://github.com/uwiger/gproc.git",{branch,"master"}}},
    {gun, "2.2.0"},
    {jsx,"2.11.0"}
]}.


{shell, [
    {apps, [game_client]} ,
    {config, "config/sys.config"}
]}.

{dist_node, [
    {name, 'game_client1@127.0.0.1'},
    {setcookie, 'mysecretcookie'}
]}.


{relx, [
    {release, {game_client, "0.1.0"}, [
        game_client,
        sasl
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.




{provider_hooks, [
]}.




{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
